
#yourName {
    background-color: cornflowerblue;
    color: white;
    padding-top: 15px;
    padding-bottom: 20px;
    margin: -8px;
    padding-right: 25px;
    padding-left: 25px;
    margin-left: 40px;
}

#navbarNav {
    margin: 0;
    padding: 0;
}

.navbar {
    border-bottom: darkgray 2px solid;
}







main {
    padding-top: 30px;
    width: 100%;
    background-color: lightgray;
    height: 800px;
    
}

section {
    width: 72%;
    background-color: white;
    margin-left: 56px;
    margin-top: 10px;
    padding-top: 30px;
    height: 550px;
}

section h4 {
    color: cornflowerblue;
    margin-left: 19px;
}

.card {
    float: left;
    margin-top: 25px;
}

#myBio {
    width: 480px;
    margin-left: 23px;
    margin-top: 25px;
    

}

section p {
    color: darkgray;
}

footer {
    width: 100%;
    height: 70px;
    background-color: gray;
    border-top: 5px solid cornflowerblue;
    text-align: center;
    padding-top: 20px;
    
}

footer p {
    color: white;
}




@media screen and (max-width: 980px){
    header{
        height: 57px;
    }

    .navbar {
        padding: 0;
        
    }

    .aTagDiv {
        margin-left: 15px;
    }

    .nav-bar {
        padding: 0;
        margin-left: 15px;
    }

    #yourName {
    height: 59px;
    margin: 0;
    text-align: center;
    width: 183px;
    }

    #navbarNav {
    width: 32%;
    }

    #navbarNav ul {
    display: inline-block;
    width: 100%;
    }

    #navbarNav li {
    width: 32%;
    display: inline-block;
    }

    .card {
        margin-top: 0;
    }

    #myPicture {
        margin-top: 35px;
    }

    #myBio {
        margin-left: 225px;
        margin-top: 0;
        margin-top: 35px;
    }


}


@media screen and (max-width: 768px) {

    section {
        width: 92%;
        margin-left: 28px;
    }
}


@media screen and (max-width: 640px) {
    .nav-bar {
        margin: 0;
    }

    .aTagDiv {
        width: 100%;
        margin: 0;
    }

    #navbarNav {
        width: 100%;
        height: 60px;
        text-align: center;
    }

    #navbarNav ul {
        width: 55%;
        padding-top: 10px;
    }

    #yourName {
    background-color: cornflowerblue;
    color: white;
    padding-top: 15px;
    padding-bottom: 20px;
    margin: 0;
    padding-right: 25px;
    padding-left: 25px;
    margin-left: 0;
    width: 100%;
    }

    
    main {
        margin-top: 45px;
        height: 890px;
    }

    section {
        height: 745px;
    }

    #myPicture {
        height: 235px;
    }

    .card {
        width: 200px;
        margin-left: 169px;
    }

    #myBio {
        width: 520px;
        right: 183px;
    }


}