
#yourName {
    background-color: cornflowerblue;
    color: white;
    padding-top: 15px;
    padding-bottom: 20px;
    margin: -8px;
    padding-right: 25px;
    padding-left: 25px;
    margin-left: 40px;
}

#navbarNav {
    margin: 0;
    padding: 0;
}

.navbar {
    
    border-bottom: darkgray 2px solid;
    
}


main {
    padding-top: 30px;
    width: 100%;

    background-color: lightgray;

}


section {
    width: 780px;

    background-color: white;
    margin-left: 56px;
    margin-top: 10px;

}

section h4 {
    color: cornflowerblue;
    margin-left: 35px;
    padding-top: 25px;

}

img {
    width: 200px;
    height: 200px;
}

.float-left {
    margin-left: 35px;
}

.float-right {
    margin-right: 35px;
}

.rounded {
    margin-top: 50px;
}


.sophiaTitle {
    color: cornflowerblue;
    width: 200px;
    height: 20px;
    text-align: center;
    margin-left: 70px;
}

.sophiaTitleSpecial {
    margin-left: 20px;
    color: cornflowerblue;
    margin-left: 89px;
}

.sophiaTitleDog {
    margin-left: 20px;
    color: cornflowerblue;
    margin-left: 98px;
}

.sophiaTitleActress {
    color: cornflowerblue;
    margin-left: 94px;
}

.sophiaTitleMusic {
    margin-left: 80px;
    color: cornflowerblue;
}

.sophiaTitleActivist {
    margin-left: 91px;
    color: cornflowerblue;
}




footer {
    width: 100%;
    height: 70px;
    background-color: gray;
    border-top: 5px solid cornflowerblue;
    text-align: center;
    padding-top: 20px;
    
}

footer p {
    color: white;
    
}





@media screen and (max-width: 980px) {
    header{
        height: 57px;
    }

    .navbar {
        padding: 0;
    }

    .aTagDiv {
        margin-left: 15px;
    }

    .nav-bar {
        padding: 0;
        margin-left: 15px;
    }

    #yourName {
        height: 59px;
        margin: 0;
        text-align: center;
        width: 183px;
    }

    #navbarNav {
        width: 32%;
    }

    #navbarNav ul {
        display: inline-block;
        width: 100%;
    }

    #navbarNav li {
        width: 32%;
        display: inline-block;
    }


    main {
        height: 885px;
    }

    section {

        width: 60%;
        height: 825px;

    }

    #elephantDiv {
        margin-left: 10px;
    }

    #actressDiv {
        margin-left: -10px;
    }

    #dogDiv {
        margin-left: -8px;
        margin-right: 8px;
    }

    .rounded {
    margin-top: 16px;
    margin-left: 25px;
    }

    #elephantLover {
        margin-right: 25px;
    }

    #activistDiv {
        margin-left: 8px;
        margin-right: -8px;       
    }

    #familyDiv {
        margin-left: -20px;
    }

    span {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    section {
        width: 93%;
        margin-right: 25px;
        margin-left: 25px;
    }

    #elephantLover {
        margin-left: 88px;
    }

    #activistPicture{
        margin-left: 90px;
    }

    #familyPicture {
        margin-right: 94px;
    }

    .sophiaTitle {
        margin-left: 133px;
    }

    #dogTitle {
        padding-left: 63px;
        
    }

    .sophiaTitleActivist {
        padding-left: 73px;
    }
}

@media screen and (max-width: 640px) {

    .nav-bar {
        margin: 0;
    }

    .aTagDiv {
        width: 100%;
        margin: 0;
    }

    #navbarNav {
        width: 100%;
        height: 60px;
        text-align: center;
    }

    #navbarNav ul {
        width: 55%;
        padding-top: 10px;
    }

    #yourName {
    background-color: cornflowerblue;
    color: white;
    padding-top: 15px;
    padding-bottom: 20px;
    margin: 0;
    padding-right: 25px;
    padding-left: 25px;
    margin-left: 0;
    width: 100%;
    }


    main {
    padding-top: 87px;
    height: 3000px;
    }

    section {
        height: 2875px;
    }

    form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    }

    img {
        width: 400px;
        height: 400px;
    
    }

    #actressPicture {
        margin-left: 109px;
        margin-top: 35px;
    }

    #dogPicture {
        margin-right: 85px;
        margin-top: 35px;
    }

    #musicPicture {
        margin-top: 35px;
        margin-left: 102px;
    }

    #activistPicture {
        margin-top: 35px;
        margin-left: 92px;
    }

    #familyPicture {
        margin-top: 35px;
        margin-right: 78px;
    }


    .sophiaTitle{
        padding-left: 105px;
    }

    .sophiaTitleActress {
        padding-left: 184px;
    }

    .sophiaTitleDog {
        margin-left: 197px;
    }

    .sophiaTitleMusic {
        padding-left: 172px;
    }

    .sophiaTitleActivist {
        padding-left: 165px;

    }

    .sophiaTitleSpecial {
        padding-left: 176px;
    }
}
